/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #4A98F7;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}

section {
  background: #fff;
  border-radius: 7px;
}

.ferramentas-quadro {
  width: 210px;
  padding: 15px 22px 0;
}

.ferramentas-quadro .row {
  margin-bottom: 20px;
}

.row .opcoes {
  list-style: none;
  margin: 10px 0 0 5px;
}

.row .opcoes .opcao {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.opcao:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.opcao :where(span, label) {
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}

.opcao:is(:hover, .active) :where(span, label) {
  color: #4A98F7;
}

.opcao #preencher-cor {
  cursor: pointer;
  height: 14px;
  width: 14px;
}

#preencher-cor:checked~label {
  color: #4A98F7;
}

.opcao #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.cores .opcoes {
  display: flex;
  justify-content: space-between;
}

.cores .opcao {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}

.cores .opcao:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

.cores .opcao:nth-child(2) {
  background-color: #000;
}

.cores .opcao:nth-child(3) {
  background-color: #E02020;
}

.cores .opcao:nth-child(4) {
  background-color: #6DD400;
}

.cores .opcao:nth-child(5) {
  background-color: #4A98F7;
}

.cores .opcao.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.cores .opcao:first-child.selected::before {
  border-color: #ccc;
}

.opcao #seleciona-cor {
  opacity: 0;
  cursor: pointer;
}

.botoes button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}

.botoes .limpar-canvas {
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}

.limpar-canvas:hover {
  color: #fff;
  background: #6C757D;
}

.botoes .salvar-imagem {
  background: #4A98F7;
  border: 1px solid #4A98F7;
}

.quadro-desenho {
  flex: 1;
  overflow: hidden;
}

.quadro-desenho canvas {
  width: 100%;
  height: 100%;
}
